abbrev_defs
auto-save-list/
backups/
custom-settings.el
data/
elpa/
eshell/
init.el
noorul.el
org-clock-save.el
transient/
recentf
ac-comphist.dat
elpy/
.mc-lists.el
.python-environments/
network-security.data
tramp
request/