abbrev_defs
auto-save-list/
backups/
custom-settings.el
data/
elpa/
eshell/
org-clock-save.el
transient/
recentf
ac-comphist.dat
elpy/
.mc-lists.el
.python-environments/
network-security.data
tramp
request/
url/
.dap-breakpoints
.lsp-session-v1
/.cache/
/eclipse.jdt.ls/
/forge-database.sqlite
/workspace/
quelpa/
games/
eln-cache/
tutorial/
projects
org-persist/
tree-sitter/